<%# app/views/users/_form.html.erb %>

<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_number %><br />
    <%= f.text_field :employee_number %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :furigana %><br />
    <%= f.text_field :furigana %>
  </div>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <%# 管理者フラグは管理者のみが編集可能 %>
  <%# 修正！ 新しいポリシーメソッドを呼び出す %>
  <% if policy(user).can_manage_administrator_flag? %>
    <div class="field">
      <%= f.label :administrator_flag %><br />
      <%= f.check_box :administrator_flag %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>