<%= search_form_for @q, url: users_path, method: :get, html: { class: "row g-3 mb-4 align-items-end" } do |f| %>
  <div class="col-md-3">
    <%= f.label :name_cont, "名前", class: "form-label" %>
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.label :furigana_cont, "ふりがな", class: "form-label" %>
    <%= f.search_field :furigana_cont, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.label :department_eq, "部署", class: "form-label" %>
    <%= f.select :department_eq, User::DEPARTMENTS, { include_blank: "指定なし" }, class: "form-select" %>
  </div>
  <div class="col-md-1">
    <%= label_tag :per_page, "件数", class: "form-label" %>
    <%= select_tag :per_page,
          options_for_select([5, 10, 20, 50], params[:per_page] || 5),
          class: "form-select" %>
  </div>
  <div class="col-md-2 d-flex justify-content-start align-items-end">
    <%= f.submit "検索", class: "btn btn-outline-primary me-2" %>
    <%= link_to "リセット", users_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
