<%# app/views/users/show.html.erb %>

<h1>社員詳細</h1>

<p><strong>社員番号:</strong> <%= @user.employee_number %></p>
<p><strong>名前:</strong> <%= @user.name %></p>
<p><strong>フリガナ:</strong> <%= @user.furigana %></p>
<p><strong>部署:</strong> <%= @user.department %></p>
<p><strong>電話番号:</strong> <%= @user.phone_number %></p>
<p><strong>メールアドレス:</strong> <%= @user.email %></p>
<p><strong>管理者フラグ:</strong> <%= @user.administrator_flag ? 'はい' : 'いいえ' %></p>

<%# 編集リンク（UserPolicyに従って表示制御） %>
<% if policy(@user).edit? %>
  <%= link_to "編集", edit_user_path(@user), class: "btn btn-secondary" %>
<% end %>

<%# 削除リンク（UserPolicyに従って表示制御） %>
<% if policy(@user).destroy? %>
  <%= link_to "削除", @user, data: { turbo_method: :delete, turbo_confirm: "本当にこの社員を削除しますか？" }, class: "btn btn-danger" %>
<% end %>

<%= link_to "一覧に戻る", users_path, class: "btn btn-info mt-3" %>